<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>AGPS status</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="status">
  <div>Last updated: <%= new Date(timestamp) %></div>
  <div>Data available: <%= navs.length %> satellites</div>
  <div>Oldest navigation message: <%= Math.floor((Date.now() - oldest) / 60 / 1000) %> minutes</div>
</div>

<% navs.forEach(function (nav) { %>
<table>
  <% Object.keys(nav).forEach(function (key) { %>
    <tr><td><%= key %></td><td><%= nav[key] %></td></tr>
  <% }); %>
</table>
<% }); %>

</body>
</html>
